@charset "iso-8859-1";
body {
    margin: 20px;
    padding: 0px;
    font: 15px arial, sans-serif; 
    background-color: rgb(192, 192, 192); 
    color: rgb(0, 0, 0); 
    width: 1024px;
    }

pre {text-indent: 10px}

#tabmenu {
    color: #000;
    border-bottom: 2px solid black;
    margin: 12px 0px 0px 0px;
    padding: 0px;
    z-index: 1;
    padding-left: 10px }

#tabmenu li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }

#tabmenu a, a.active {
    color: #DEDECF;
    background: #898B5E;
    font:  "Trebuchet MS", Arial, sans-serif;
    border: 2px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }

#tabmenu a.active {
    background: #ABAD85;
    border-bottom: 3px solid #ABAD85; }

#tabmenu a:hover {
    color: #fff;
    background: #ADC09F; }

#tabmenu a:visited {
    color: #E8E9BE; }

#tabmenu a.active:hover {
    background: #ABAD85;
    color: #DEDECF; }

#content {font: verdana, arial, helvetica, sans-serif;
    text-align: justify;
    background: #ABAD85;
    padding: 20px;
    border: 2px solid black;
    border-top: none;
    z-index: 2; }

#content a {
    text-decoration: none;
    color: #E8E9BE; }

#content a:hover { background: #898B5E; }

.tabs {
    color: #000;
    border-bottom: 2px solid black;
    margin: 12px 0px 0px 0px;
    padding: 0px;
    z-index: 1;
    padding-left: 10px }

.tabs li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }

.tabs a, a.active {
    color: #DEDECF;
    background: #898B5E;
    font:  "Trebuchet MS", Arial, sans-serif;
    border: 2px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }

.tabs a.active {
    background: #ABAD85;
    border-bottom: 3px solid #ABAD85; }

.tabs a:hover {
    color: #fff;
    background: #ADC09F; }

.tabs a:visited {
    color: #E8E9BE; }

.tabs a.active:hover {
    background: #ABAD85;
    color: #DEDECF; }

h1 {
    font: bold 24px Veranda, Arial, Helvetica,sans-serif;
    color: #000;
    margin:0px;
    padding:0px 0px 0px 10px;
}
h2 {
    font: bold 16px Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0px;
    padding: 0px 0px 0px 10px;
}


#content {
    font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
    text-align: justify;
    background: #ABAD85;
    padding: 20px;
    border: 2px solid black;
    border-top: none;
    z-index: 2; 
}

#content a {
    text-decoration: none;
    color: black; 
}

#content a:hover { 
    background: #EEEEEE; 
}

#links  {
    font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
    text-align: justify;
    background: #ABAD85;
    padding: 20px;
    z-index: 2; 
}
#links a {
    text-decoration: none;
    color: blue;
    }
    
#links a:hover {
    background: #EEEEEE; 
}

div#buttonA {
    margin-left: 0px;   
}
div#buttonA ul {
    margin: 0px;
    padding: 0px;
    font-family: bold Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 40px;
}
div#buttonA li {
    list-style-type: none;
    height: 40px;
    width: 150px;
    margin: 10px;
    text-align:center;
}
div#buttonA li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    border-width: 5px;
    /*background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;*/
}
div#buttonA li a:link {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
div#buttonA li a:visited {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
div#buttonA li a:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #777777;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
div#buttonA li a:active {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #666666;
    border-style: solid;
    border-top-color: #333333;
    border-left-color: #555555;
    border-right-color: #BBBBBB;
    border-bottom-color: #DDDDDD;
}


.small_button {
    margin-left: 0px;   
    margin: 0px;
    padding: 0px;
    font-family: bold Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.small_button li {
    list-style-type: none;
    height: 15px;
    width: 75px;
    margin: 10px;
    text-align:center;
}
.small_button li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    border-width: 3px;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.small_button li a:link {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.small_button li a:visited {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.small_button li a:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #777777;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.small_button li a:active {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #666666;
    border-style: solid;
    border-top-color: #333333;
    border-left-color: #555555;
    border-right-color: #BBBBBB;
    border-bottom-color: #DDDDDD;
}

.med_inline {
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    font-family: bold Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px; 
  
}
.med_inline li {
    list-style-type: none;
    height: 30px;
    width: 150px;
    margin: 5px;
    padding: 0px;
    text-align:center;
    display: inline;
}
.med_inline li a {
    text-decoration: none;
    border-width: 3px;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.med_inline li a:link {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.med_inline li a:visited {
    color: #000000;
    font-weight: bold;
    background-color: #999999;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.med_inline li a:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #777777;
    border-style: solid;
    border-bottom-color: #333333;
    border-right-color: #555555;
    border-left-color: #BBBBBB;
    border-top-color: #DDDDDD;
}
.med_inline li a:active {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #666666;
    border-style: solid;
    border-top-color: #333333;
    border-left-color: #555555;
    border-right-color: #BBBBBB;
    border-bottom-color: #DDDDDD;
}


.inline {
    margin-left: 0px;
        margin: 0px;
    padding: 0px;
    font-family: bold Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;   
}
.inline li {
    list-style-type: none;
    height: 30px;
    width: 100px;
    margin: 0;
    text-align:center;
    display: inline;
    border:1px solid;
    border-color:#f3f3f3 #bbb #bbb #f3f3f3;
}
